:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    display: grid;
    place-content: center;
    background-color: var(--violet);
    background-image: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding: 2rem;
    transition: all 0.3s ease-in-out;
    min-height: 100vh;
}

.header {
    width: 100%;
}

.header__logo {
    width: 100%;
    max-width: 16rem;
}

.main-content {
    text-align: center;
    margin-top: 5rem;
}

.main-content__img {
    width: 100%;
    max-width: 80rem;
}

.main-content__text {
    margin-top: 5rem;
}

.main-content__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--white);
}

.main-content__description {
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: var(--white);
    margin: 1.5rem 0 2rem;
}

.main-content__button {
    font-size: 1.4rem;
    display: inline-block;
    width: 19rem;
    color: var(--violet);
    background-color: var(--white);
    border-radius: 9rem;
    border: none;
    padding: 1.4rem 2rem;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.13);
    text-decoration: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.main-content__button:hover {
    color: var(--white);
    background-color: var(--soft-magenta);
    transform: scale(1.1);
}

.main-content__button:focus-visible {
    outline: dashed;
    outline-color: var(--white);
    outline-offset: 0.2rem;
}

/* Social links */
.social-links {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 6rem;
    gap: 1.5rem;
}

.social-links__link {
    display: block;
    border-radius: 3rem;
    transition: 0.3s ease-in-out;
}

.social-links__link:focus-visible {
    outline: dashed;
    outline-color: var(--white);
    outline-offset: 0.2rem;
}

.social-links__link i {
    font-size: 2rem;
    color: var(--white);
    border: 0.1rem solid var(--white);
    border-radius: 3rem;
    padding: 1rem;
    transition: 0.3s ease-in-out;
}

.social-links__link:hover.social-links__link i {
    color: var(--white);
    border: 1px solid transparent;
    background-color: var(--soft-magenta);
    transform: scale(1.1);
}

.social-links__link:hover:focus-visible {
    transform: scale(1.2);
}

@media screen and (min-width: 375px) {
    body {
        padding: 3.5rem;
    }

    .header__logo {
        max-width: 20rem;
    }

    .main-content__title {
        font-size: 2.4rem;
    }

    .main-content__description {
        font-size: 1.7rem;
    }

    .main-content__button {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 750px) {
    .header__logo {
        max-width: 22rem;
    }
    
    .main-content__title {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1100px) {
    body {
        display: grid;
        place-content: center;
        background-image: url("./images/bg-desktop.svg");
        background-size: cover;
        padding: 4rem 5rem;
    }

    .main-content {
        display: flex;
        align-items: center;
        gap: 5rem;
    }

    .main-content__img-container {
        width: 55%;
    }

    .main-content__text {
        display: flex;
        flex-direction: column;
        width: 45%;
    }

    .main-content__title {
        font-size: 4rem;
        text-align: start;
        line-height: 6.1rem;
        max-width: 100rem;
    }

    .main-content__description {
        text-align: start;
    }

    .social-links {
        justify-content: flex-end;
        margin-top: 2.5rem;
    }
}


@media screen and (min-width: 1120px) {
    .header {
        padding: 0 2.5rem;
    }
    .main-content__title {
        padding-right: 2rem;
    }

    .main-content__description {
        padding-right: 2rem;
    }
    
    .social-links {
        margin-top: 7rem;
    }

    .main-content__img {
        max-width: 60rem;
    }
}
